h4 {
  text-align: center;
  color: #2E2E2E;
}

.form-cocktail {
  background-color: white;
  padding: 10px;
  margin-top: 50px;
  border-radius: 3px;
  color: #2E2E2E;
  opacity: 0.9;
}

.form-cocktail:hover {
  opacity: 1;
}

.form-group {
  padding: 10px;
  margin-bottom: 40px;
}


.logo-cocktail {
  border-radius: 50%;
  width: 55px;
  height: 35px;
}

.container {
  margin-bottom: 50px;
}
